@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

.bg-img-kid-goal-keeper {
    background: url('./../public/kid-goal-keeper.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    place-content: center;
    height: 252.41px;
    border-radius: 30px;
    width: 179.77px;
}

.bg-img-two-kids {
    background: url('./../public/two-kids.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    place-content: center;
    height: 198px;
    border-radius: 30px;
    width: 164px;
}

.bg-img-about-second {
    background: url('./../public/kidsnew.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    place-content: center;
    height: 277.15px;
    border-radius: 10px;
    width: 332px;
}

.bg-img-about {
    background: linear-gradient(to top, #a6d0ff17, #111111), url('./../public/kidsnew.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    place-content: center;
    height: 309px;
}

.bg-img {
    background: linear-gradient(to top, #a6d0ff17, #111111), url('./../public/kids.jpg');
    position: relative;
    object-fit: cover!important;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    place-content: center;
    height: 601px;
}

.img-slug {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    place-content: center;
    height: 309px;
}

.img-kids-playing {
    background: linear-gradient(to top, #a6d0ff17, #111111), url('./../public/kids-playing.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    place-content: center;
    height: 601px;
}

.img-kids-playing-two {
    background: linear-gradient(to top, #a6d0ff17, #111111), url('./../public/kids-playing.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    place-content: center;
    height: 857px;
}

.img-google-maps {
    background: url('./../public/google-maps.png');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 257px;
    place-content: center;
    height: 435px;
}

.img-instagram {
    background: url('./../public/instagram.png');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 257px;
    place-content: center;
    height: 435px;
}

.img-qrcode {
    background: url('./../public/qrcode.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    place-content: center;
    width: 100%;
}

@media (max-width: 767px) {
    .bg-image {
        background-image: linear-gradient(to bottom, #a6d0ff17, #111111), url('./../public/kids-playing.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5%;
        width: 396px;
        place-content: center;
        height: 601px;
    }

    .bg-image-top {
        background-image: url('./../public/kidsnew.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5%;
        width: 199px;
        place-content: center;
        height: 317px;
        position: relative;
    }

    .bg-image-over {
        background-image: url('./../public/kids-playing.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5%;
        width: 199px;
        place-content: center;
        height: 317px;
        position: relative;
        left: 60px;
        top: -256px;
        margin-bottom: 60px!important;
    }

    .secText {
        margin-top: -352px;
    }

    .bg-mobile {
        width: 330px;
    }

}

/* LARGE SCREEN */

@media (min-width:641px) {

    .bg-image-top {
        background-image: url('./../public/kidsnew.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5%;
        width: 256px;
        place-content: center;
        height: 422px;
        position: relative;
    }

    .bg-image-over {
        background-image: url('./../public/kids-playing.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5%;
        width: 256px;
        place-content: center;
        height: 422px;
        position: relative;
        left: 131px;
        top: -368px;
        margin-bottom: -221px;
    }

    .bg-img-kid-goal-keeper {
        background: url('./../public/kid-goal-keeper.jpg');
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        place-content: center;
        height: 450px;
        border-radius: 30px;
        width: 350px;
    }
    
    .bg-img-two-kids {
        background: url('./../public/two-kids.jpg');
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        place-content: center;
        height: 376px;
        border-radius: 30px;
        width: 292px;
    }

}

.backImg {
    background: linear-gradient(to bottom, rgba(1, 71, 157, 0.2), rgba(0, 0, 0, 0.7)), url('./../public/kids.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    place-content: center;
    height: 601px;
}