@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

.bg-img {
    background: url('https://s3-alpha-sig.figma.com/img/743f/930c/d1681e68e6ca397052e2e1699276b378?Expires=1673222400&Signature=KBJ1Xk1ppH3gC-4BtchhvnDjSDs39ID2F~NfTCupEjSDyBP2k5Eb5cGvAp0MGny0HYLfUT~gOG7i5PjcjL75UZ-VvM3j1STihsRv9bRzTAGLPyuMl0vh5itVwduUJaNwGkcrRIbYi~t76e8YlFy2UJbw77nFUFPv4QLXrXoOXq6EIjm2MBjbltIM-AtYjiZcSL9awRuzEaI0v0dhr2OktUxo7FXhx6jSg1sfose-ck9XlZbmcdMZ2~MR~~9Z~pz0ABr~B52XTPRkaUNwA9s2g0b7tty2vG1RU0pogHJtzd3LxcqWr6nYlCSSGZgORPOA5uUilbCDv5ybWQxYJwurXg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    place-content: center;
    height: 601px;
}

@media (max-width: 767px) {
    .bg-image {
        background-image: linear-gradient(to bottom, #a6d0ff17, #111111), url('https://s3-alpha-sig.figma.com/img/a1c2/268d/b06ddcd6bee990ed1da7691de7c9ff24?Expires=1676851200&Signature=fnSExTSjhH4OJUre4HraM-kcHJ9ibjj3xL9d5ay04QDXpteI9x~X5yLMDwXNiodJqaNRhb0oMTVmXgr2B~JGGBXFPZADRkxbalfY~POoBv7HzAa36TM37govM9KyqYHO6AMf58b5MO1fgrL5ArsMMGySigE~MtsLXsF5oe9OJ8-1KKbaDya5KPXOncMK5uzHs0QtF8ivzzgo1FJ6RbcVJvVv2wf4oiQIvPkVioE91Uj6F0QlSTGqoSpdnMv0M~U7T9MRCdIU16sc7gKBy1SqAlU2oK48F6U92XESR0ZZHYnv~lEc31H22QwAE7rtK-qCqJ~heES9xG8KhsVG5sTsSQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5%;
        width: 396px;
        place-content: center;
        height: 601px;
    }

    .bg-image-top {
        background-image: url('https://s3-alpha-sig.figma.com/img/c9f3/972d/01c89b6e18cd190ceaf90180c0628e2b?Expires=1676851200&Signature=lAV~AKXCWopRA56yiTSd9JEO~7lu6bXoZJp8oMjBw~7tc1FwulqPwEnBPXenHx2Koun6sRPGC5DnUBCk0BLO6A8W9HdJstHt9ciYswg-IF6nKal6nwQ7mJrZP2YkmjI3AUA5xW0ikutVWv97xgpwRmTzDtjkd7UGLfY7Pyq7f0pPZwTuXaWcUIbe8hjgz6fJcn52AVvR7-oGjZVdSRequGhtOuCDJLI2~uReV5KqTsAwxuOTTY6EoBffMwUqV20cNiDvmNvn9hg~SNHYCWRiGNw-0jHnHhxrGE5xlG-DIBWZRLB5QbNxIVPqHBwn-s~d~M91GvYhcwZ9pHEPEOmWZw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5%;
        width: 199px;
        place-content: center;
        height: 317px;
        position: relative;
    }

    .bg-image-over {
        background-image: url('https://s3-alpha-sig.figma.com/img/35f1/9045/4e664c2d0f8e91073408f2a922eef979?Expires=1676851200&Signature=cbPGGdM5FW8rUubmHoxlTR9h6eHC7nqNnOMfFxkH4lgdLnCwKIHXx4Itwg1p1nfSFkMo75u8jBZkOSq~aHMgjhhrRoMLGtUYyna1VLNE2IvF3oXapwk3Yg9MEEnYdWp1S1lKS2~SJ-TVvFs273OWuz~G4fIYzh4bb3UVCsI-w8Ce0F68dLka03HOV8LzQv54oyfExDQYwEY~5NaOApuWW~h8p6R-ZaEUQDJmgTxZzbKU7x6RmPr5~Y52lz3PZ6bRSV1G8C~u3SqyTjl0PJYeDz~F2IUvCfCt45-y6Whn-qahNZ52eNgmf3FJKYc4wr7GdZS0KlRGAXEnXNv~G7SHuA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5%;
        width: 199px;
        place-content: center;
        height: 317px;
        position: relative;
        left: 60px;
        top: -256px;
    }

    .secText {
        margin-top: -226px;
    }

    .bg-mobile {
        width: 330px;
    }

}

.backImg {
    background: linear-gradient(to bottom, rgba(1, 71, 157, 0.2), rgba(0, 0, 0, 0.7)), url('https://s3-alpha-sig.figma.com/img/743f/930c/d1681e68e6ca397052e2e1699276b378?Expires=1673222400&Signature=KBJ1Xk1ppH3gC-4BtchhvnDjSDs39ID2F~NfTCupEjSDyBP2k5Eb5cGvAp0MGny0HYLfUT~gOG7i5PjcjL75UZ-VvM3j1STihsRv9bRzTAGLPyuMl0vh5itVwduUJaNwGkcrRIbYi~t76e8YlFy2UJbw77nFUFPv4QLXrXoOXq6EIjm2MBjbltIM-AtYjiZcSL9awRuzEaI0v0dhr2OktUxo7FXhx6jSg1sfose-ck9XlZbmcdMZ2~MR~~9Z~pz0ABr~B52XTPRkaUNwA9s2g0b7tty2vG1RU0pogHJtzd3LxcqWr6nYlCSSGZgORPOA5uUilbCDv5ybWQxYJwurXg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    place-content: center;
    height: 601px;
}